<div>
  <h2>
    {{ title }}
  </h2>
  
  <div>
    <mat-form-field class="form-field">
      <input matInput type="text" placeholder="Node url"
      #nodeUrlElement="ngModel"
      pattern="https?://+[a-z0-9.]+:[0-9]+"
      required minlength="10"
      [(ngModel)]="nodeUrl">
      <mat-error [hidden]="nodeUrlElement.valid || nodeUrlElement.pristine">
          Use proper url example http://localhost:7890.
      </mat-error>
      <button mat-button *ngIf="nodeUrl" matSuffix mat-icon-button aria-label="Undo" (click)="changeNode('http://localhost:7890')">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-raised-button color="primary" matSuffix mat-icon-button
        type="submit" aria-label="Play" 
        [disabled]="!nodeUrlElement.valid"
        (click)="changeNode(nodeUrl)">
        <mat-icon>forward</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>
